.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    background-color: #333;
    color: #fff;
}

.navbar-nav {
    display: flex;
}

.nav-item {
    list-style: none;
    margin: 0 20px;
}

.nav-link {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    transition: all 0.3s ease-in-out;
}

.nav-link:hover {
    transform: translateY(-7px);
    color: #4CAF50;
}